<!-- change: app/control/charge_controller.rb
             config/initializers/stripe.rb
             app/views/layouts/charges.html.erb
             app/views/charges/new.html.erb
             app/views/charges/create.html.erb -->

<!-- START HEAD OF PAGE -->
<header id="necklace_header" class="img-responsive">
    <%= image_tag("banner-logo-01.jpg", :class => "responsive-img") %>
</header>
<!-- END HEAD OF PAGE -->

<!-- START PRODUCT -->

<div class="card-panel">
  <div class="row">
    <div class="col s12 m4">
      <%= link_to (image_tag("stack.jpg", :alt => "rss feed", :class => "responsive-img card", :width => "430")),'http://twistedalpineproducts.bigcartel.com/' %>

    </div>

    <div class="col s12 m8">
      <br>
      <h3>
        Twisted Alpine Products
      </h3>
      <br>
      <br>
      <p>Buy the twisted alpine reservoir as preventative measure so you do not have brake failure on the mountain, simply upgrade to our superior cnc aluminum reservoir and never let a broken plastic oem reservoir hold you back! Simply swap your diaphragm and hardware to the T.A.P reservoir and enjoy your ride knowing you will not have to suffer from broken plastic again!</p>
      <center><%= link_to "STORE" , 'http://twistedalpineproducts.bigcartel.com/', class: "waves-effect waves-light btn", id: "product" %></center> 
    </div>
  </div>
  
  <div class="row">
    
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= link_to (image_tag("res-01.jpg", :alt => "rss feed", :class => "responsive-img", :width => "100")),'http://twistedalpineproducts.bigcartel.com/product/reservoir' %> <!-- Make this a link -->
        </div>
          <div class="card-content">
            <p>Reservoir</p>
            <p>$130.00</p>
            <center><%= link_to "BUY NOW" , 'http://twistedalpineproducts.bigcartel.com/product/reservoir', class: "waves-effect waves-light btn" %></center>
          </div> 
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= link_to (image_tag("top-01.jpg", :alt => "rss feed", :class => "responsive-img")),'http://twistedalpineproducts.bigcartel.com/product/lid'  %> <!-- Make this a link -->
        </div>
          <div class="card-content">
            <p>Lid</p>
            <p>$30.00</p>
            <center><%= link_to "BUY NOW" , 'http://twistedalpineproducts.bigcartel.com/product/lid', class: "waves-effect waves-light btn" %></center>
          </div>
      </div>
    </div>
    <div class="col s12 m4">

      <div class="card">
        <div class="card-image">
          <%= link_to (image_tag("full-01-01.jpg", :alt => "rss feed", :class => "responsive-img")), 'http://twistedalpineproducts.bigcartel.com/product/full-kit' %>  <!-- Make this a link -->
        </div>
   
          <div class="card-content" id="about">
            <p>Full kit option</p>
            <p>$150.00</p>
            <center><%= link_to "BUY NOW" , 'http://twistedalpineproducts.bigcartel.com/product/full-kit', class: "waves-effect waves-light btn" %></center>
          </div>
     
      </div>
   
      </div>
  </div>
</div>


<!-- END PRODUCT -->

<!-- START ABOUT CONTACT -->
<div class="card-panel">

  <div class="row">
    <div class="col s12 m9">
      <br>
      <br>
      <h3>Want to know more?</h3>
      <p>Twisted Alpine Products started out with 3 guys and a vision. Improve the faulty weak oem brake reservoir on the current skidoo snowmobiles! Find us on Facebook, Instagram or send us an email. Don't let yourself miss any sledding time due to a busted
        break reservoir!</p>

    </div>
    <div class="col-md-3">
      <center><%= image_tag("sled1.jpg", :alt => "rss feed", :class => "responsive-img card", :width => "225") %></center>
    </div>
  </div>
  <div class="row">
      <div class="col s12 m4">
      <center><a href="https://www.instagram.com/twisted.alpine.products/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></center>
    </div>
    <div class="col s12 m4">
      <center><a href="https://www.facebook.com/Twisted.alpine.products/"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></center>
    </div>
    <div class="col s12 m4">
      <center><a href="mailto:twisted.alpine.products@gmail.com?"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a></center>
    </div>
</div>
</div>



<div class="card-panel">

  <div class="row">
    <div class="col s12 m4">
      <%= image_tag("snow.jpg", :alt => "rss feed", :class => "responsive-img card") %>
    </div>
    <div class="col s12 m4">
      <%= image_tag("product.jpg", :alt => "rss feed", :class => "responsive-img card") %>
    </div>
    <div class="col s12 m4">
      <%= image_tag("log.jpg", :alt => "rss feed", :class => "responsive-img card") %>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m4">
      <%= image_tag("0.jpg", :alt => "rss feed", :class => "responsive-img card") %>
    </div>
    <div class="col s12 m4">
      <%= image_tag("canada.jpg", :alt => "rss feed", :class => "responsive-img card") %>
    </div>
    <div class="col s12 m4">
      <%= image_tag("sled.jpg", :alt => "rss feed", :class => "responsive-img card") %>
    </div>
  </div>

</div>
<!-- END ABOUT CONTACT -->